#main {
    position: relative;
    /* width: 1512px; */
    width: 100vw;
    height: 1003px;
    overflow: hidden;
}
#main::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-image: url("backgroundImage.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
  }